.center{
    margin-top: 130px !important;
}
.center1{
    margin-top: 90px !important;
}
.pass-input{
    position: relative;
}
.pass-eye{
    position: absolute;
    top: 54%;
    right: 30px;
    height: 24px;
    font-size: 22px;
    margin: auto;
    cursor: pointer;
    color: gray;
}

.pass-eye-r{
    position: absolute;
    top: 64%;
    right: 30px;
    height: 24px;
    font-size: 22px;
    margin: auto;
    cursor: pointer;
    color: gray;
}