.new-contact{
    background-color: #F9E9ED;
    margin: 5px;
    margin-right: 10px;
    padding: 10px;
    position: relative;
    border: none;
}

.remove-new{
    position: absolute;
    top: 0;
    right:0;
    cursor: pointer;
    font-weight: bold;
    margin-top: -12px;
    margin-right: -10px;
    font-size: 5px;
}